<script type="text/javascript" src="/game/js/game-2.js"></script>
<div class="container ">
  <div id="game-info">
    <div class="level">first level</div>
    <div class="number">1</div>
    <div class="lives">3</div>
  </div>
  <div id="stage">
    <div id="hero-head" class="hero-head"></div>
    <div id="exit"></div>
    <div id="enemy" class="enemy"></div>
    <div id="enemy-1" class="enemy"></div>
  </div>
  <div class="game-message game-over"></div>
  <div class="game-message you-win"></div>
</div>
