<section id="PC_requirement">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2>Apex legends minimum system requirements</h2>
        <p>OS: 64-bit Windows 7</p>
        <p>CPU: Intel Core i3-6300 3.8GHz / AMD FX-4350 4.2 GHz Quad-Core Processor</p>
        <p>RAM: 6GB</p>
        <p>GPU: NVIDIA GeForce GT 640 / Radeon HD 7730</p>
        <p>GPU RAM: 1 GB</p>
        <p>HARD DRIVE: Minimum 22 GB of free space</p>
      </div>
    </div>
  </div>
</section>
