<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/game/css/style.css">
    <link rel="stylesheet" href="/game/css/elements.css">
    <script type="text/javascript" src="/game/js/door.js"></script>
    <script type="text/javascript" src="/game/js/enemy.js"></script>
    <script type="text/javascript" src="/game/js/helper.js"></script>
    <script type="text/javascript" src="/game/js/monster-object.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
  <script type="text/javascript" src="/game/js/script.js" charset="utf-8"></script>
</html>
